body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1877f2; /* Warna latar belakang biru */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box img {
  width: 100px;
  margin-bottom: 20px;
}

.login-box h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #166fe5;
}

.forgot-password,
.create-account {
  text-align: center;
}

.forgot-password a,
.create-account a {
  color: #1877f2;
  text-decoration: none;
}

.forgot-password a:hover,
.create-account a:hover {
  text-decoration: underline;
}
